﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="football.aspx.cs" Inherits="MidTermPractice.football" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <h1>FOOTBALL</h1>
        <div>
            <asp:Button ID="btnWeight" runat="server" Text="Get Name" OnClick="btnWeight_Click" />
        </div>
        <div>
            <asp:TextBox ID="txtWeight" runat="server" Height="147px" TextMode="MultiLine"></asp:TextBox>
        </div>
    </form>
</body>
</html>
