﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script type="text/javascript">

        var url = 'http://www.geoplugin.net/json.gp?ip=64.17.241.5';

        // Cross platform xmlhttprequest

        // Create xmlhttprequest object
        var xmlhttp = null;
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
            //make sure that Browser supports overrideMimeType
            if (typeof xmlhttp.overrideMimeType != 'undefined') { xmlhttp.overrideMimeType('text/xml'); }
        } else if (window.ActiveXObject) {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        } else {
            alert('Perhaps your browser does not support xmlhttprequests?');
        }

        // Create an HTTP GET request
        xmlhttp.open('GET', url, true);

        // Set the callback function
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

                var myObj = JSON.parse(xmlhttp.responseText);
                //document.write("TEST");
                document.write("<table border='1'>")
                document.write("<tr><td>" + "IP Address: " + myObj.geoplugin_request + "</tr></td>");
                document.write("<tr><td>" + "City: " + myObj.geoplugin_city + "</tr></td>");
                document.write("<tr><td>" + "Latitude: " + myObj.geoplugin_latitude + "</tr></td>");
                document.write("<tr><td>" + "Longitude: " + myObj.geoplugin_longitude + "</tr></td>");
                document.write("</table>")
                //document.write()
               
            } else {
                // waiting for the call to complete
            }
        };

        // Make the actual request
        xmlhttp.send(null);






    </script>
</head>
<body>
</body>
</html>

