﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="JSON_Forcast.aspx.cs" Inherits="JSONDemo.JSON_Forcast" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title></title>
 
<script type="text/javascript">

    var url = 'http://api.wunderground.com/api/d8d28c244bd31f85/forecast/q/MA/Boston.json';
// Cross platform xmlhttprequest

// Create xmlhttprequest object
var xmlhttp = null;
if (window.XMLHttpRequest) { 
        xmlhttp = new XMLHttpRequest();
        //make sure that Browser supports overrideMimeType
        if ( typeof xmlhttp.overrideMimeType != 'undefined') { xmlhttp.overrideMimeType('text/xml'); }
} else if (window.ActiveXObject) {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
}  else {
        alert('Perhaps your browser does not support xmlhttprequests?');
}

// Create an HTTP GET request
xmlhttp.open('GET', url, true);

// Set the callback function
xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        var myObj = JSON.parse(xmlhttp.responseText);
        
        //document.write("This is in the document");    Test the HTML page
        for(i = 0; i < myObj.forecast.simpleforecast.forecastday.length; i++)
        {
            document.write(myObj.forecast.simpleforecast.forecastday[i].date.pretty);
            document.write("<br/>");
            document.write("The High Temperature of the Day is: " + myObj.forecast.simpleforecast.forecastday[i].high.fahrenheit);
            document.write("<hr/>");
            document.write("<br/>");
            

        }
       
       // document.write("<hr/>") This adds Lines in HTML
    } else {
        // waiting for the call to complete
    }
};

// Make the actual request
xmlhttp.send(null);

</script>
</head>
<body>


   


</BODY>
</html>

    </div>
    </form>
</body>
</html>
