﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title></title>
 
<script type="text/javascript">

    var url = 'http://api.wunderground.com/api/d8d28c244bd31f85/conditions/q/MA/Boston.json';
    
// Cross platform xmlhttprequest

// Create xmlhttprequest object
var xmlhttp = null;
if (window.XMLHttpRequest) { 
        xmlhttp = new XMLHttpRequest();
        //make sure that Browser supports overrideMimeType
        if ( typeof xmlhttp.overrideMimeType != 'undefined') { xmlhttp.overrideMimeType('text/xml'); }
} else if (window.ActiveXObject) {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
}  else {
        alert('Perhaps your browser does not support xmlhttprequests?');
}

// Create an HTTP GET request
xmlhttp.open('GET', url, true);

// Set the callback function
xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        var myObj = JSON.parse(xmlhttp.responseText);
        form1.txtCent.value = myObj.current_observation.feelslike_c;
        form1.txtFaren.value = myObj.current_observation.feelslike_f;
    } else {
        // waiting for the call to complete
    }
};

// Make the actual request
xmlhttp.send(null);

</script>
</head>
<body>


    <form id="form1" runat="server">
        My first JSON Web Service<br />
        Temperature in Centigrade<asp:TextBox ID="txtCent" runat="server"></asp:TextBox>
        <br />
        Temperature in Farenheit<asp:TextBox ID="txtFaren" runat="server"></asp:TextBox>
    </form>


</BODY>
</html>
