﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script type="text/javascript">

        var url = 'http://54.84.69.209/jsonfootballservice/footballteams/getfootballteam';
// Cross platform xmlhttprequest

// Create xmlhttprequest object
var xmlhttp = null;
if (window.XMLHttpRequest) {
        xmlhttp = new XMLHttpRequest();
        //make sure that Browser supports overrideMimeType
        if ( typeof xmlhttp.overrideMimeType != 'undefined') { xmlhttp.overrideMimeType('text/xml'); }
} else if (window.ActiveXObject) {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
}  else {
        alert('Perhaps your browser does not support xmlhttprequests?');
}

// Create an HTTP GET request
xmlhttp.open('GET', url, true);

// Set the callback function
xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
    {
        var myObj = JSON.parse(xmlhttp.responseText);
        document.write("<table border='1'>");
        document.write("<tr><td>" + myObj.TeamName + "</td></tr>");
        //DONT FORGET LENGTH
        for(i=0; i < myObj.roster.length; i++)
        {
            if (myObj.roster[i].weight > 250)
                {
                document.write("<tr><td>" + myObj.roster[i].name + "-" + myObj.roster[i].weight + "</td></tr>");
                document.write("<br/>");
            }
            else{}
            
        }
        document.write("</table>");
    }

    else {
        // waiting for the call to complete
    }
};

// Make the actual request
xmlhttp.send(null);

    </script>
</head>
<body>


</body>
</html>
