﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Weather.aspx.cs" Inherits="weatherDirect.Weather" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            height: 125px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Text="Get Weather Information"></asp:Label>
        </div>
        <div>
        <asp:Label ID="Label2" runat="server" Text="Get Weather Information"></asp:Label>
    </div>
        <div>
            <asp:Button ID="btnWeather" runat="server" Text="WUnderground For Boston" OnClick="btnWeather_Click" />
            </div>
        <div class="auto-style1">
            <asp:TextBox ID="txtBoston" runat="server" Height="103px" OnTextChanged="txtBoston_TextChanged" TextMode="MultiLine" Width="358px"></asp:TextBox>
        </div>
   
        <div>
            <asp:Label ID="lblDay" runat="server" Text="Day/Forcast"></asp:Label>
            </div>
        <div>
            <asp:Button ID="btnDay" runat="server" Text="Get Day/Forecast" OnClick="btnDay_Click" />
        </div>
        <div>
            <asp:TextBox ID="txtDay" runat="server" Height="103px" OnTextChanged="txtBoston_TextChanged" TextMode="MultiLine" Width="358px"></asp:TextBox>
        </div>
        <div>


        </div>
        <div>
            <div>
                <asp:TextBox ID="txtZip" runat="server" ></asp:TextBox></div>
            <asp:Button ID="btnCities" runat="server" Text="Get Cities for Zip Code" OnClick="btnCities_Click" Width="159px" />
            <asp:Button ID="btnNear" runat="server" Text="Get Cities Nearby Zip" Width="159px" OnClick="btnNear_Click"/>
            <div><asp:TextBox ID="txtGetZip" runat="server" Height="103px" OnTextChanged="txtBoston_TextChanged" TextMode="MultiLine" Width="358px"></asp:TextBox></div>
        </div>
    </form>
</body>
</html>
