﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Cate.aspx.cs" Inherits="Problem3._1.Cate" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" /><asp:TextBox ID="txtPrice" runat="server"></asp:TextBox><asp:TextBox ID="txtTotal" runat="server"></asp:TextBox>
    </div>
    </form>
</body>
</html>
